<section id="{{sidebar.entries.1.section}}" data-magellan-target="{{sidebar.entries.1.section}}">

  <div class="grid-x grid-margin-x {{sidebar.entries.1.textalign}}">
    <div class="cell small-12 large-{{sidebar.entries.1.textcells}}">
      {{sidebar.entries.1.maintext}}
    </div>

    <div class="cell grid-x bottomMargin product-centered  small-12 {{sidebar.entries.1.imagecells}}">
      <div>
        <img id="main-product-image" data-actualid="0" src="{{root}}assets/img/{{products.product.0.image}}" alt="Erstes Bild">

        <h4 id="main-product-title" class="text-center">{{products.product.0.title}}</h4>

        <ul class="menu product-centered">
          {{#each products.product as |product i|}}
            <li>
              <a class="sim-thumb" id="img{{i}}" data-id="{{i}}" data-image="{{root}}assets/img/{{image}}"><img src="{{root}}assets/img/{{image}}" alt="{{title}}"></a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="small-12 cell">
      <hr>
    </div>
  </div>
</section>
