
  <section id="{{sidebar.entries.1.section}}" data-magellan-target="{{sidebar.entries.1.section}}">

    <div class="grid-x grid-margin-x {{sidebar.entries.1.textalign}}">
      <div class="cell small-12 large-{{sidebar.entries.1.textcells}}">
        {{sidebar.entries.1.maintext}}
      </div>

      <div class="cell bottomMargin small-12 flex-child-grow large-1">
        <div class="masonry-css">
          {{#each products.product}}
            <div class="masonry-css-item">
              <img src="{{root}}assets/img/{{image}}" alt="{{title}}">
              <div>{{description}}</div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="small-12 cell">
        <hr>
      </div>
    </div>
</section>
