<section id="{{sidebar.entries.1.section}}" data-magellan-target="{{sidebar.entries.1.section}}">
  <div class="featured-testimonials-section">
    <div class="grid-x">
      <h1>Einige Kommentare Reisender</h1>
    </div>
    <div class="featured-testimonials grid-x">
      <div class="small-12 medium-6 cell">
        <div class="testimonial">
          <p class="featured-testimonials-quotation">Indien:
Sehr geehrter, lieber Herr Polte, wir sind wohlbehalten von unserer Indienreise zurück. Es ist eine wunderbare Reise gewesen. Sie verlief für uns ohne Komplikationen. Dass wir wegen des von der Gurkabewegung ausgerufenen Streiks im Darjeelingdistrikt - also wegen "höherer Gewalt" - nicht nach Darjeeling gekommen sind, ist etwas schade, hat den Wert der Reise aber nicht geschmälert.
Als Indienkenner wissen Sie, welch reichhaltige Eindrücke Indien hervorruft. "Incredible India" ist ein gutes Wort für das Erleben Indiens. Alle Hotels waren gut und besser. Dass wir nicht in ganz abgehobenen Hotels gewohnt haben, fanden wir besonders gut, weil wir so auch mit einheimischen Hotelgästen in Berührung kamen. Alle guides waren kenntnisreich und sehr freundlich, alle Fahrer gut geschult und ebenfalls "careful".
Auf dieser Reise haben wir uns insbesondere mit dem Hinduismus auseinandergesetzt, und wir sind erstaunt, wie reichhaltig und tiefgehend die indische Götterwelt ist und wie konkret und abstrakt zugleich. Neben Tempeln und Klöster waren die tribal villages und tribal Märkte ein herausragender Höhepunkt.
Unsere Reise wird uns noch lange beschäftigen. Natürlich werden wir weiter unser Augenmerk auf Indien richten, und wir sind gespannt, wie dieser Subkontinent sich weiter entwickeln wird. Dass fast alles in Indien im Umbruch ist, ist ja kaum zu übersehen. Ob Indien in 20 - 30 Jahren die weltweit erste Wirtschaftsnation sein wird? Ob der Hinduismus dann immer noch wie gegenwärtig den Alltag der Inder durchdringt?
Vielleicht haben wir ja das Glück, noch einmal nach Indien reisen zu können. Wir würden das sofort wieder über Ihre Agentur tun. Sie haben uns, lieber Herr Polte, zu einer großartigen Reise verholfen. Und dafür sagen wir Ihnen Dank von ganzem Herzen! Wir haben schon die Einladung an Sie ausgesprochen und wiederholen sie hiermit gerne.
Diese Reise war unsere erste übers Internet gebuchte Reise. Unsere anfängliche Skepsis haben Sie ja gespürt. Falls Sie es wieder mal mit Leuten wie uns zu tun haben, stellen wir Ihnen anheim, dass Sie uns als Referenz angeben.
          </p>
        </div>
        <div class="testimonial-slide-author-container align-spaced">
          <img class="profile-pic hide-for-small-only" src="{{root}}assets/img/letters-2794215_300.jpg">
          <p class="testimonial-slide-author-info"> Frau T. und Herr Prof. Dr. C.<br><i class="subheader">Köln</i></p>
        </div>

      </div>
      <div class="small-12 medium-6 cell">
        <div class="testimonial">
          <p class="featured-testimonials-quotation">Sehr geehrter Herr Polte, ich möchte Ihnen gerne Rückmeldung von unserer Reise geben, von der wir gestern wohlbehalten und gesund zurück gekommen sind.
Zunächst das Positive: Die Agentur ist gut, unser Reiseleiter war ein wichtiger Bestandteil der Reise, nicht nur weil er sehr sympathisch ist, sondern weil die vielen mit ihm geführten Gespräche auch ein sehr persönliches Klima schafften. Der Fahrer war sicher und sehr zuverlässig. Die Tour zu den Hilltribes ist höchstinteressant, und war durchgängig ein sehr großes Erlebnis, das mich um einige Erfahrungen reicher machte. Eine wichtige Erfahrung war auch das Reisen mit einem Ambassador. Anfangs dachte ich, oh Gott, was mutet man uns da zu, aber nachträglich war das ein Gewinn, weil das Auto einfach nicht mehr als 60 fährt, und damit auch eine gewisse Gemächlichkeit in die Reise kam.
Der Tourismus in Orissa steckt in den Kinderschuhen. Die angebotene Tour ist selbst bei besseren klimatischen Verhältnissen für Normalbürger nicht nur recht voll, sondern auch strapaziös, so dass der positive Teil der Reise zu kippen droht. Da ich mich sehr ausführlich im Vorfeld mit den Gadapa und Bondavölkern auseinandergesetzt hatte, war das ganze eine spannende Abenteuerreise und voller völkerkundlicher und auch für meinen Beruf wichtiger Informationen. Das hat mich über vieles hinwegsehen lassen. Dennoch vielen Dank für ihre gute Vermittlung. Ich habe Sie als sehr zuverlässig und seriös erlebt, werde Sie gerne weiterempfehlen und auch gerne wieder auf Sie zurück kommen.
          </p>
        </div>
        <div class="testimonial-slide-author-container align-spaced">
          <img class="profile-pic hide-for-small-only" src="{{root}}assets/img/blur-1869579_300.jpg">
          <p class="testimonial-slide-author-info">Herr Dr. N.<br><i class="subheader">Pfalz</i></p>
        </div>
      </div>
    </div>
    <div class="featured-testimonials grid-x">
      <div class="small-12 medium-6 cell">
        <div class="testimonial">
          <p class="featured-testimonials-quotation">Myanmar:
Hallo Herr Polte, wir möchten uns bei Ihnen für die tolle Organisation unserer Myanmar Reise bedanken. Der Guide war ein ausgezeichneter Reiseführer und hat uns als ehemaliger Grundschullehrer nicht nur die Sehenswürdigkeiten gezeigt, sondern stets versucht, Land und Leute näher zu bringen. Teilweise gab es "Schulaufgaben". Z.B. geht in das Dorf, sprecht mit den Leuten, guckt euch die Hütten an und macht Fotos. Da sein Hobby die Fotografie ist, haben wir immer zu den richtigen Zeiten gute Fotos machen können, was wir hauptsächlich ihm zu verdanken haben. Wir haben ihm am Ende unserer Reise gefragt, was ihm lieber wäre, eine Digitalkamera oder Geld von uns. Er hat sich fürs Geld entschieden mit der Auflage von uns, dieses für den Kauf einer Kamera zu nutzen. Ein Modell hatte er sich schon ausgeguckt. Herr Polte, Sie haben gute Arbeit geleistet. Wir werden Sie und den Guide weiter empfehlen.
          </p>
        </div>
        <div class="testimonial-slide-author-container align-spaced">
          <img class="profile-pic hide-for-small-only" src="{{root}}assets/img/alphabets-1839737_300.jpg">
          <p class="testimonial-slide-author-info"> Frau S.<br><i class="subheader">Schwaben </i></p>
        </div>
      </div>
      <div class="small-12 medium-6 cell">
        <div class="testimonial">
          <p class="featured-testimonials-quotation">Nepal: Hallo Herr Polte, ich möchte mich für die perfekte Nepal Reise bedanken. Alles hat toll geklappt, trotz der widrigen Umstände - Streik / kein Benzin. Ich würde nächstes Jahr gerne wieder über Sie buchen.
          </p>
        </div>
        <div class="testimonial-slide-author-container align-spaced">
          <img class="profile-pic hide-for-small-only" src="{{root}}assets/img/pencil-918449_300.jpg">
          <p class="testimonial-slide-author-info">Frau L.<br><i class="subheader">Hamburg</i></p>
        </div>
      </div>
    </div>
  </div>

</section>
