
      <div class="cell">
      {{#with entries.[0]}}
        <img id="main-product-image" data-actualid="0" src="{{root}}assets/img/{{image}}" alt="Erstes Bild">
        <h4 id="main-product-title" class="text-center">{{title}}</h4>
      {{/with}}

        <ul class="menu align-center">
          {{#each entries as |entries i|}}
            <li>
              <a class="sim-thumb" id="img{{i}}" data-id="{{i}}" data-image="{{root}}assets/img/{{image}}"><img src="{{root}}assets/img/{{image}}" alt="{{title}}"></a>
            </li>
          {{/each}}
        </ul>
      </div>
