
<section id="{{sidebar.entries.1.section}}" data-magellan-target="{{sidebar.entries.1.section}}">

  <div class="grid-x grid-margin-x {{sidebar.entries.1.textalign}}">
    <div class="cell small-12 large-{{sidebar.entries.1.textcells}}">
      {{sidebar.entries.1.maintext}}
    </div>

    <div class="cell bottomMargin grid-x align-spaced small-12 flex-child-grow large-1">
      <div class="cell grid-x align-center small-12 large-{{sidebar.entries.1.imagecells}}">
        <div class="grid-x flex-child-grow small-up-2 medium-up-3 large-up-5 thumbs">

          <div class="cell tile-thumb show-for-medium-only">
            <a href="Tibet.html"><img src="{{root}}assets/img/sivalilogo.png" alt="Sivali-Logo" />
            </a>
          </div>

          {{#each Kacheldata.entries}}
            <div class="cell tile-thumb hoverscale" style ="background-image: url('{{root}}assets/img/{{image}}');background-size: cover;">
              <a href="Tibet.html">    {{!-- to be replaced by <a href="{{title}}.html"> --}}
              <h4 class="tile-text">{{title}}</h4></a>
            </div>
          {{/each}}

          <div class="cell tile-thumb show-for-medium-only">
            <a href="Tibet.html"><img src="{{root}}assets/img/sivalilogo.png" alt="Sivali-Logo" />
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
