
<section id="{{sidebar.entries.4.section}}" data-magellan-target="{{sidebar.entries.4.section}}">

  <div class="grid-x grid-margin-x {{sidebar.entries.4.textalign}}">
    <div class="cell small-12 large-{{sidebar.entries.4.textcells}}">
      {{sidebar.entries.4.maintext}}
    </div>

    <div class="cell bottomMargin small-12 {{sidebar.entries.4.imagecells}}">
      <div class="grid-x small-up-2 medium-up-3 large-up-5 thumbs">

        {{#each Kacheldata.entries}}
          <div class="cell call-thumb position-relative hovermove">
            <a href="Tibet.html"><img src="{{root}}assets/img/{{image}}" alt="{{title}}" />
            <h4 class="tile-text">{{title}}</h4></a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
