{{#with sidebar.entries.[3]}}
  {{>upperPart}}
{{/with}}
          <div class="masonry-css">
            {{#each products.product}}
              <div class="masonry-css-item">
                <img src="{{root}}assets/img/{{image}}" alt="{{title}}">
{{!--            <div>{{description}}</div> ersetzt durch --}}

                {{#ifequal title "Indien"}}
                  <h4>Indien - Tropische Küsten und exotische Tempelstädte</h4>
                {{else}}
                  {{#ifequal title "Indonesien"}}
                    <h3>Indonesien - Inseln unter dem Wind</h3>
                  {{else}}
                    <div>{{description}}</div>
                  {{/ifequal}}
                {{/ifequal}}

              </div>
            {{/each}}
          </div>
        </div>
      </div>
    <!-- </div> -->
</section>
