
  <section id="{{sidebar.entries.3.section}}" data-magellan-target="{{sidebar.entries.3.section}}">

  <div class="grid-x grid-margin-x {{sidebar.entries.3.textalign}}">
    <div class="cell small-12 large-{{sidebar.entries.3.textcells}}">
      {{sidebar.entries.3.maintext}}
    </div>

    <div class="cell bottomMargin small-12 flex-child-grow large-1">
<!--  cards  -->
      <div class="grid-x grid-padding-x small-up-2 medium-up-3 large-up-4">
          {{#each products.product}}
            <div class="cell call-thumb text-center" data-id="{{MIGX_id}}">
              <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                  {{title}}
                </div>
                <img src="{{root}}assets/img/{{image}}" alt="{{title}}">
                <div class="card-section show-for-medium">
                  {{description}}
                </div>
                <a data-open="revealKatalog"><button class="button" data-cardSelectButton>mehr...</button></a>
              </div>
            </div>
          {{/each}}
      </div>
<!--  end cards  -->
    </div>
  </div>
  
  <div class="grid-x">
    <div class="small-12 cell">
      <hr>
    </div>
  </div>
</section>

<!-- reveal window  -->

  <div id="revealKatalog" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">

        <div class="card">
           <img id="main-image" data-actualid="1"
                        src=""
                        alt="">             <!-- src and alt get overwritten by javascript! -->

          <div class="card-divider">
            <h4 id="main-title"></h4>

            <!-- modalthumbs are invisible, but necessary to transport info about actually clicked card! -->
            <div class="card-divider" style="display: none;">
              {{#each products.product}}
                <a id="modalthumb{{MIGX_id}}" class="modal-thumb" data-id="{{MIGX_id}}" data-image="{{root}}assets/img/{{image}}" data-alt="{{title}}" data-description="{{description}}" ><img src="{{root}}assets/img/{{image}}" alt="{{title}}"></a>
              {{/each}}
            </div>
          </div>
          <span id="main-description">{{description}}</span>

      </div>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>

<!-- end reveal window  -->
