{{!-- This is a handlebar comment --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sivali Tours</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>

    <div class="app-dashboard shrink-medium">
      <div class="grid-x app-dashboard-top-nav-bar">
        <div class="cell medium-2">
{{!--       <a>Sivali Tour</a> --}}
            <a href="index.html"><img src="{{root}}assets/img/sivali_logo_150x84.jpg" alt="Sivali Tours"></a>
        </div>

        <div class="cell medium-2">
          <button data-toggle="app-dashboard-top-bar-actions" class="menu-icon hide-for-medium"></button>
        </div>

        <div class="cell shrink app-dashboard-top-bar-actions">
          <div class="hover-underline-menu" data-menu-underline-from-center>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="Asien.html">REISELÄNDER</a>
                <ul class="menu">
                  <li><a href="Tibet.html">Tibet</a></li>
                  <li><a href="Tibet.html">Indien</a></li>
                  <li><a href="Tibet.html">Nepal</a></li>
                  <li><a href="Tibet.html">Myanmar</a></li>
                  <li><a href="Tibet.html">Laos</a></li>
                  <li><a href="Tibet.html">China</a></li>
                  <li><a href="Tibet.html">Vietnam</a></li>
                  <li><a href="Tibet.html">Kambodscha</a></li>
                  <li><a href="Tibet.html">Indonesien</a></li>
                  <li><a href="Tibet.html">Bhutan</a></li>
                </ul>
              </li>
              <li><a href="Asien.html">GRUPPEN 2018</a>
              </li>
              <li><a href="Asien.html">MASSGESCHNEIDERT</a>
                <ul class="menu">
                  <li><a href="#">Individualreisen</a></li>
                  <li><a href="#">Gruppenreisen</a></li>
                </ul>
              </li>
              {{#each pagenames.navpage}}
                {{> topNav_tpl}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div class="app-dashboard-body-content off-canvas-content sections" data-off-canvas-content>
        {{> body}}
      </div>
    </div>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
